.photobox-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
/*
.photobox-fc-main-container {
	margin: auto;
	position: fixed;
	z-index: 400;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
	display: none;
}
.photobox-fc-main-container:hover {
	cursor: pointer;
}
*/
.photobox-main-container {
	margin: auto;
	display: none;
	position: fixed;
	z-index: 200;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}
.photobox-container-left {
	float: left;
	position: relative;
}
.photobox-container-left:hover {
	cursor: pointer;
}
.photobox-container-left table td {
	text-align: center;
	vertical-align: middle;
	height: 100%
}
.photobox-container-right {
	position: relative;
	float: right;
	background-color: white;
}
.photobox-container-left-header {
	top: 0px;
	right: 0px;
	margin: 15px;
	position: absolute;
	color: white;
	z-index: 500;
}
.left-arrow {
	position: absolute;
	height: 100%;
	left: 10px;
	top: 0px;
}
.right-arrow {
	position: absolute;
	height: 100%;
	right: 10px;
	top: 0px;
}
.photobox-a {
	opacity: 0.5;
}
.photobox-image-stage-overlay {
	display: none;
}
.photobox-main-image-table {
	height: 100%;
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
.photobox-image-content {
	margin: 25px 20px 0px 20px;
	color: black;
	overflow: hidden;
}
/*
.photobox-fc-header {
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	color: white;
}
.photobox-fc-close-btn {
	color: #FFFFFF;
	float: right;
	padding: 2px 10px;
	text-decoration: none;
}
.photobox-fc-close-btn:hover {
	background-color: #777;
}
*/
.photobox-overlay {
	display: none;
}
.left-arrow .photobox-a {
	background-image: url(../img/icons/Arrows-LWhite-icon.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 0px;
	display: block;
	height: 48px;
	width: 48px;
}
.right-arrow .photobox-a {
	background-image: url(../img/icons/Arrows-RWhite-icon.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 0px;
	display: block;
	height: 48px;
	width: 48px;
}
/*
.fc-left-arrow a {
	background-image: url(../img/icons/Arrows-LWhite-icon.png);
	float: left;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0px 0px;
	height: 48px;
	width: 48px;
}
.fc-right-arrow a {
	background-image: url(../img/icons/Arrows-RWhite-icon.png);
	background-repeat: no-repeat;
	float:right;background-size: auto;
	background-position: 0px 0px;
	height: 48px;
	width: 48px;
}
*/
table, tr, td {
	border: none;
	padding: 0px;
	border-collapse: collapse;
}
.photobox-container-bottom {
	width: 100%;
    position: absolute;
    bottom: 0;
	text-align: center;
}
.photobox-book, .photobox-cancel {
	background-color: #bcbcbc;
	border: 1px solid #444444;
	border-radius: 3px;
	font-Weight: bold;
	font-size: 18px;
	width: 40%;
	padding: 5px 0px;
	display: inline-block;
	margin: 10px 5px;
}
.photobox-book:hover {
  background: #08ff00;
}
.photobox-cancel:hover {
  background: #ff0000;
}
.photobox {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 75px;
  overflow: hidden;
}
.photobox:hover {
  border: 1px solid #000000;
  opacity: 0.8;
}
.photobox-close-btn {
	background-image: url(../img/icons/close.png);
	background-repeat: no-repeat;
    background-size: contain;
	float: right;
	margin: 8px;
	height: 13px;
	width: 13px;
}

/*Google Map*/
#map {
	position: absolute;
	width: 100%;
	height: 300px;
	bottom: 10%;
	border: 1px solid black;
}