body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#ccebff;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin-top:5px;
  padding:0;
}

.button_1{
  height:38px;
  background:#bcbcbc;
  border-style: solid;
  border-color: #444444;
  padding-left: 30px;
  padding-right:30px;
  color:#000000;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}
.button_1:hover {
    opacity: 0.8;
    color:#ffffff;
}

/* Header **/
header{
  background:#ccebff;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom-style: outset;
  border-color: #000000;

}

header a{
  color:#000000;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:left;
  margin-top:100px;
}

header .highlight {
  color:#4a20b5;
  font-weight:bold;
}
.current a{
  background:#bcbcbc;
  border-style: outset;
  border-width: 2px;
  color: #000000;
  font-weight:bold;
  padding: 10px 30px 10px 30px;
}
header a:hover{
  color:#000000;
  font-weight:bold;
}

/* Showcase */
#showcase{
  min-height:600px;
  background:url('../img/showcase.jpg') center center no-repeat;
  border: 1px solid #ccc;
  text-align:center;
  color:#ffffff;
}
#showcase:hover{
  border: 1px solid #777;
  opacity: 0.75;
  color:#000000;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}

#showcase p{
  font-size:20px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#afafaf;
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}
#search form {
  margin: auto;
  width: 75%;
  padding: 7px;
  margin-top:30px;
  margin-bottom:30px;
}
#search input[type="search"]{
  border: 1px solid #333;
}
#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:30px;
  color:#000000;
  background-color:#bcbcbc;
  border-top-style: solid;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
input{
  width:100%;
  height:35px;
  margin-top:5px;
  border:1px solid #999;
  border-radius:3px;
  padding:5px;
}
input[type="button"]{
  background-color:#bcbcbc;
  border-style: solid;
  border-color: #444444;
  font-Weight:bold;
  font-size:18px;
  width:48%;
}
input[type="button"]:hover {
    background: #08ff00;
}
input[type="text"]{
  border:none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #262626;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
input[type="text"]:focus {
  border-bottom: 2px solid #f00;
}
#sign_up, #log_in{
  background:#bcbcbc;
  border-style: solid;
  border-color: #444444;
  padding: 5px 30px;
  color:#000000;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  float: right;
}
#sign_up:hover, #log_in:hover {
    opacity: 0.8;
    color:#ffffff;
}
#signupdiv, #logindiv{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(54, 25, 25); 
  background: rgba(5, 5, 5, .85);
  display: none;
}

#signup, #login{
  width:350px;
  margin:0px;
  padding: 40px;
  background-color:white;
  border-radius: 20px;
  font-family: 'Fauna One', serif;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left:-210px;
  margin-top:-158px;
}
.select {
  font-size: 16px;
  margin-bottom: 10px;
}
.select select {
  outline: none;
  display: block;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
h4{
  margin-top:0;
  margin-bottom: 15px; 
  font-size:35px;
  text-align:center;
  color:black;
}
textarea{
  margin-top:5px;
  height: 150px;
  padding:5px;
}
table {
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
  width: 65%;
}
td {
  text-align: center;
  width: 50%;
  display: table-cell;
}
.teams {
  float: left;
  border: 1px solid #000000;
}

table img {
    width: 100%;
    height: auto;
}
.box_1, .box_2, .box_3, .box_4, .box_5, .box_6 {
  position:relative;
  border: 1px solid #ffffff;
  border-radius: 100px;
  overflow: hidden;
}
.box_1:hover, .box_2:hover, .box_3:hover, .box_4:hover, .box_5:hover, .box_6:hover {
  border: 1px solid #000000;
  opacity: 0.8;
}
.description{
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  background-color:black;
  color:white;
  opacity:0.6;
  filter:alpha(opacity=60);
}
.description_content{
  padding:10px;
  margin:0px;
  font-size: 30px;
}